*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 0.846rem;
}

li,
.featured-post-date {
  font-size: 0.75rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.featured-post-title {
  margin: 0;
  font-size: 2rem;
}

.featured-post-preview {
  margin-top: 0;
}

.flex-container {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  padding: 0 1em;
}

.logo-container {
  gap: 0.25em;
}

.logo {
  width: 25px;
  height: 25px;
}

ul {
  gap: 2em;
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

.featured-post {
  background-image: url("../img/desk-night.png");
  background-color: #00000070;
  background-size: cover;
  background-position: bottom;
  background-blend-mode: darken;
  padding: 3em 1.25em 0.1em;
  /* height: 293px; */
  color: white;
  margin: 1em auto 2em;
  width: 100%;
}

section {
  width: 90%;
  margin: auto;
}

.post-img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.cropped {
  height: 232px;
}
