*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 0.846rem;
}

li,
.featured-post-date {
  font-size: 0.75rem;
}

.nav-link,
.home-link,
.post-link {
  color: black;
}

.featured-post-title {
  margin: 0;
  font-size: 2rem;
}

.featured-post-link,
.featured-post {
  color: white;
}

.link {
  text-decoration: none;
}

.link:hover,
.link-focus {
  text-decoration: underline;
}

.home-link:hover,
.home-link:focus {
  text-decoration: none;
}

.featured-post-preview {
  margin-top: 0;
}

.post-date {
  font-size: 0.875rem;
}

.post-title {
  margin: 0;
}

.post-preview {
  margin: 0.5em 0 2em 0;
}

.view-more-link {
  display: block;
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 0 0 2.5em 0;
}

.footer-title {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.copyright {
  font-size: 0.75rem;
  margin-top: 0;
  font-weight: 300;
}

.flex-container {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
}

.home-link {
  gap: 0.25em;
}

.logo {
  width: 25px;
  height: 25px;
}

ul {
  gap: 2em;
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

.featured-post {
  background-image: url("../img/desk-night.png");
  background-color: #00000070;
  background-size: cover;
  background-position: bottom;
  background-blend-mode: darken;
  padding: 3em 1.25em 0.1em;
  margin: 1em auto 2em;
  width: 100%;
}

header,
section,
.article {
  width: 90%;
  margin: auto;
}

.post-img,
.main-post-img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin: 0 auto 0.75em auto;
}

.cropped {
  height: 232px;
}

footer {
  background-color: #202020;
  color: white;
  text-align: center;
  padding: 1.5em;
  margin-top: 3em;
}

.article {
  margin-top: 2em;
}

.article-date {
  margin-bottom: 1em;
}

.main-post-img {
  object-position: center;
  filter: brightness(70%);
  margin: 2.5em 0;
}

.recent-posts {
  text-align: center;
  margin-top: 2.5em;
}
